<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{% url 'homepage:home' %}" class="text-decoration-none align-items-center mb-2 mb-lg-0 fs-2 fw-bold" style="color: white;">
        PROTester
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link nav-a">Тесты</a></li>
        <li><a href="#" class="nav-link nav-a">Каталог</a></li>
        <li><a href="#" class="nav-link nav-a">Текущие викторины</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Поиск...">
    </form>

    </div>
</div>