:root {
    --bg-dark: #29292A;
    --bg-light: #F6F6F6;

    --h1-dark: #FFFFFF;
    --h1-light: #1E1E1E;

    --nav-dark: #1E1E1E;
    --nav-light: #FFFFFF;

    --div-outline-border: #676767;

    --div-outline-light: #FFFFFF;
    --div-outline-dark: #1E1E1E;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--bg-light);
}
.dark {
    background-color: var(--bg-dark);
}


h1 {
    margin: 5px auto;
    font-size: 48px;
    text-align: center;
    color: var(--h1-light);
}
.dark h1 {
    color: var(--h1-dark);
}

nav {
    background-color: var(--nav-light);
    padding: 10px;
}
.dark nav {
    background-color: var(--nav-dark);
}

.div-outline {
    margin: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    border-width: 1px;
    border: solid 1px var(--div-outline-border);;
    
    background-color: var(--h1-light);
}
.dark .div-outline {
    background-color: var(--div-outline-dark);
}
